style.
    .article_style-4 {
        border: 1px solid var(--article-border-color);
        display: flex;
        flex-direction: row;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: var(--article-background-color);
        border-radius: var(--article-border-radius);
    }
    .article_style-4 > div {
    }
    .left-4 {
        border-radius: var(--article-border-radius);
        overflow: hidden;
        width: 50%;
    }
    .right-4 {
        padding-left: var(--article-main-padding);
        width: 50%;
    }
    @media(max-width: 900px) {
        .article_style-4 {
            flex-direction: column;
        }
        .left-4, .right-4 {
            width: 100%;
            padding-left: 0px;
        }
        .article_style-4 {
            /*padding-left: 0px;
            padding-right: 0px;*/
        }
    }
    @media( max-width: 768px) {
        .article_style-4 {
            border-radius: 0px;
        }
    }
    /* article 4*/
    article.article-4 {
        width: 100%;
        height: 100%;
    }
    .left-image-thumbnail-4 {
        display: flex;
        aspect-ratio: 13/5;
    }
    .left-image-thumbnail-4 > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h3.h3-article-4 {
        margin: 5px 5px 5px 5px;
    }
    .left-tags4 {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .right-4 {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    }
    .right-4 > article:nth-child(2) {
        margin-top: var(--article-main-padding);
        margin-bottom: var(--article-main-padding);
    }
    .right-4 > article {
        border: 1px solid var(--article-border-color);
        border-radius: var(--article-border-radius);
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
    }
    a.tags4 {
        border: 1px solid black;
        border-radius: var(--tags-border-radius);
        margin-left: 3px;
        margin-right: 3px;
        word-break: break-all;
    }
    @media(max-width: 900px) {
        .left-4 {
            margin-bottom: var(--article-main-padding);
        }
    }
    .left-4 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--article-border-color);
    }
    .image-wrapper-4 {
        flex-grow: 1;
        position: relative;
    }
    .image-wrapper-4 > img {
       height: 100%; 
       width: 100%;
       object-fit: cover;
       position: absolute;
    }
.article_style-4
    article.left-4.a-block
        a.a-overlay(href="###" aria-label="Article link")
        .image-wrapper-4.a-inner
            img( src="/image4.webp" alt="Article thumbnail"  )
        .container-4
            .article-right-1
                        .right-title-1
                            h3.h3-article-1.a-inner
                                a(href="###" id=`article-4-link-${id}`)
                                    span Title Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        .right-tags-1.a-inner
                            a.tags-1(href='#') #Javascript 
                            a.tags-1(href='#') #Coding 
                            a.tags-1(href='#') #Programming 
    .right-4
        mixin article-4(id)
            article.a-block
                a.a-overlay(href="###" aria-labelledby=`article-4-link-${id}`)
                .article-right-1
                    .right-title-1
                        h3.h3-article-1.a-inner
                            a(href="###" id=`article-4-link-${id}`)
                                span Title Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    .right-tags-1.a-inner
                        a.tags-1(href='#') #Javascript 
                        a.tags-1(href='#') #Coding 
                        a.tags-1(href='#') #Programming 
        +article-4('1')
        +article-4('2')
        +article-4('3')