---
layout: index
---
<div class="articles-wrapper">
  <div class="article_style-6">
    <h1 class="center-title-1">{{ page.type }} '{{ page.title }}'</h1>
    {% for post in page.posts %}
    <article class="a-block"><a class="a-overlay" href="{{ post.url | relative_url }}"
        aria-labelledby="article-6-link-1" aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ post.url | relative_url }}" id="article-6-link-1"><span>{{
                  post.title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in post.tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner right-6-relative"><img src="{{ post.image | prepend: site.baseurl }}" alt="Article thumbnail" /></div>
    </article>
    {% endfor %}
  </div>
</div>