style.

    article.page-1 {
        border-radius: var( --article-outer-border-radius);
        background-color: var(--article-background-color);
        border: 1px solid var(--article-border-color);
        padding: 25px;
        margin-bottom: 10px;
    }
    article.page-1 .content {
        color: var(--article-text-color);
        font-family: var(--font-family-1);
        font-size: var(--article-text-size);
    }
    header.page-1 {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .page-1-right {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .page-1-right img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    a.tags-1 {
        color: var(--tags-text-color)
    }
    .right-1 > article {
        border: 1px solid var(--article-border-color);
        margin-left: 10px;
        border-radius: var(--article-border-radius);
    }
    .right-tags-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .right-tags-1 > a.tags-1 {
        margin-right: 5px;
        padding: 5px;
        margin-top: 5px;
        border-radius: var(--tags-border-radius);
        background-color: var(--tags-background-color);
    }
    .page-1-left h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--article-title-color);
    }

    .page-1-left div {
        font-size: 1rem;
        color: var(--article-author-text-color);
    }

    a.tags-1:hover {
        text-decoration: underline;
        color: var(--hover-text-color);
    }
article.page-1
    header.page-1
        .page-1-left
            h1 Understanding JavaScript reference versus instance
            div by fredy sandoval 
            div Posted on Jul 25, 2022.
            .right-tags-1
                a.tags-1(href='#') #Javascript 
                a.tags-1(href='#') #Coding 
                a.tags-1(href='#') #Programming 
        figure.page-1-right
            img(src="/image1.webp")
    .content This is a story of me quitting my job as a web dev, starting my first SaaS, burning through all of my savings, and finding what I really wanted to do.
        | 
        | Also, this post is my attempt to start sharing my honest experiences, however good or bad, on the internet. Both as a form of journaling for myself and as a case study for the community.
        | 
        | I want these to be more like personal letters and less like self-promotional feel-good traffic-generating positively-thinking marketing posts.
        | 
        | I want to stay vulnerable and honest.
        | 
        | It's going to be ugly.
        | 
        | Quitting my job to start an online product
        | In January 2020, I quit my job as a web developer to start a SaaS with a partner. It was the boldest move I've ever made in my professional life. I was scared but unbelievably excited. Starting my own project has been my gestalt for years.
        | 
        | It's finally happening!
        | 
        | I was very lucky to have been making more than I've been spending for several years and investing that in S&P500 during the bull phase of the market. It resulted in enough savings to not think about money for at least a few years.
        | 
        | Looking back, I can't help but think that having too much cash runway can jeopardize your venture: too easy to get comfortable.
        | 
        | We didn't know what we wanted to build. Still, we wanted to work together (having been colleagues for 3.5+ years), and we knew that the stars might not align again in the future.
        | 
        | With a sense of freedom but also immense pressure that I couldn't explain, we started to brainstorm ideas. At that moment, neither of us had something he had always wanted to build (and that would also qualify as a viable business opportunity), so the process was a combination of looking inward and seeking gaps in markets.
        | 
        | It was the first time I internalized that the price for all the freedom I felt at the time was the heavy burden of uncertainty. Before 2020, I had been a web developer (with a mixture of leading teams, product management, analytics, and other things) for 7 years. There had always been someone to tell me, at least on some level, what goal should be achieved.
        | 
        | Being able to do whatever I wanted did not taste as sweet as I had pictured. It felt like we could make any number of bad decisions, and there was nobody to tell us that.
        | 