---
layout: index
title: "Fredy's Blog"
---


<div class="articles-wrapper">
  {% if page.url == '/'%}
  <div class="article_style-1">
    <a class="left-1" href="{{ site.posts[0].url | prepend: site.baseurl }}">
      <img class="show-1" src="{{ site.posts[0].image | prepend: site.baseurl }}" aria-labelledby="article-1-link-1" />
      <img class="hidden-1" src="{{ site.posts[1].image | prepend: site.baseurl }}" aria-labelledby="article-1-link-2" />
      <img class="hidden-1" src="{{ site.posts[2].image | prepend: site.baseurl }}" aria-labelledby="article-1-link-3" />
    </a>
    <div class="right-1">
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[0].url | prepend: site.baseurl }}" aria-labelledby="article-1-link-1"
          aria-describedby="article-1-link-1" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[0].url | prepend: site.baseurl }}" id="article-1-link-1"><span>{{ site.posts[0].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[0].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[1].url | prepend: site.baseurl }}" aria-labelledby="article-1-link-2"
          aria-describedby="article-1-link-2" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[1].url | prepend: site.baseurl }}" id="article-1-link-2"><span>{{
                  site.posts[1].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[1].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
      </article>
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[2].url | prepend: site.baseurl }}" aria-labelledby="article-1-link-3"
          aria-describedby="article-1-link-3" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url | prepend: site.baseurl }}" id="article-1-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </div>

  <script>
    function handle_img_switch_1(el) {
      const img = document.querySelectorAll('a.left-1 > img');
      let arr = Array.from(img);

      arr.forEach(function (item, index) {
        if (item.classList.contains('show-1')) {
          item.classList.remove('show-1');
          item.classList.add('hidden-1');
        }
      });
      const aria = el.firstElementChild.getAttribute('aria-labelledby')
      const show = document.querySelector(`a.left-1 > img[aria-labelledby="${aria}"]`);
      show.parentElement.setAttribute('href', el.firstElementChild.getAttribute('href'));
      show.classList.remove('hidden-1');
      show.classList.add('show-1');
    }
  </script>
  {% if site.posts[3] %}
  <div class="article_style-2">
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[3].url | prepend: site.baseurl }}"
        aria-labelledby="article-2-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[3].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[3].url | prepend: site.baseurl }}" id="article-2-link-1"><span>{{
                  site.posts[3].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[3].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[4] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[4].url | prepend: site.baseurl }}"
        aria-labelledby="article-2-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[4].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[4].url | prepend: site.baseurl }}" id="article-2-link-2"><span>{{
                  site.posts[4].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[4].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[5] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[5].url | prepend: site.baseurl }}"
        aria-labelledby="article-2-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[5].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[5].url | prepend: site.baseurl }}" id="article-2-link-3"><span>{{
                  site.posts[5].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[5].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </div>
  {% endif %}

  {% if true%}
  <div class="article_style-3">
    <div class="left-3">
      {% if site.posts[6] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[6].url | prepend: site.baseurl }}" aria-labelledby="article-3-link-1"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[6].url | prepend: site.baseurl }}" id="article-3-link-1"><span>{{
                  site.posts[6].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[6].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}

      {% if site.posts[7] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[7].url | prepend: site.baseurl }}" aria-labelledby="article-3-link-2"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[7].url | prepend: site.baseurl }}" id="article-3-link-2"><span>{{
                  site.posts[7].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[7].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}

      {% if site.posts[8] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[8].url | prepend: site.baseurl }}" aria-labelledby="article-3-link-3"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[8].url | prepend: site.baseurl }}" id="article-3-link-3"><span>{{
                  site.posts[8].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[8].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>


    <div class="right-3" onclick="handleModal(this)">
      <div class="image-wrapper"><img id="myImg" src="{{ 'assets/images/meme1.webp' | relative_url }}" alt="Meme of the day" />
        <div class="modal" id="myModal"><span class="close-2">&times;</span><img class="modal-content" id="img01" />
        </div>
      </div>
      <div class="text-wrapper">
        <h3>meme of the day</h3>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      var span = document.getElementsByClassName("close-2")[0];

      function handleModal() {
        if (!modal.style.display || modal.style.display === "none") {
          modal.style.display = "block";
        } else {
          modal.style.display = "none";
        }
        modalImg.src = img.src;
      }
    </script>
  </div>
  {% endif %}

  {% if true%}
  <div class="article_style-2">

    {% if site.posts[9] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[9].url | prepend: site.baseurl }}"
        aria-labelledby="article-3-a-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[9].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[9].url | prepend: site.baseurl }}" id="article-3-a-link-1"><span>{{
                  site.posts[9].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[9].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[10] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[10].url | prepend: site.baseurl }}"
        aria-labelledby="article-3-a-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[10].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[10].url | prepend: site.baseurl }}" id="article-3-a-link-2"><span>{{
                  site.posts[10].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[10].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[11] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[11].url | prepend: site.baseurl }}"
        aria-labelledby="article-3-a-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[11].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[11].url | prepend: site.baseurl }}" id="article-3-a-link-3"><span>{{
                  site.posts[11].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[11].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
  </div>
  {% endif %}

  {% if false%}
  <div class="article_style-4">
    {% if site.posts[12] %}
    <article class="left-4 a-block"><a class="a-overlay" href="{{ site.posts[12].url | prepend: site.baseurl }}" aria-label="Article link"></a>
      <div class="image-wrapper-4 a-inner"><img src="{{ site.posts[12].image | prepend: site.baseurl }}" alt="Article thumbnail" /></div>
      <div class="container-4">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[12].url | prepend: site.baseurl }}" id="article-4-link-undefined"><span>{{
                  site.posts[12].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[12].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    <div class="right-4">
      {% if site.posts[13] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[13].url | prepend: site.baseurl }}"
          aria-labelledby="article-4-link-1"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[13].url | prepend: site.baseurl }}" id="article-4-link-1"><span>{{
                  site.posts[13].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[13].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[14] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[14].url | prepend: site.baseurl }}"
          aria-labelledby="article-4-link-2"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[14].url | prepend: site.baseurl }}" id="article-4-link-2"><span>{{
                  site.posts[14].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[14].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[15] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[15].url | prepend: site.baseurl }}"
          aria-labelledby="article-4-link-3"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[15].url | prepend: site.baseurl }}" id="article-4-link-3"><span>{{
                  site.posts[15].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[15].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if false%}
  <div class="article_style-2">
    {% if site.posts[16] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[16].url | prepend: site.baseurl }}"
        aria-labelledby="article-4-a-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[16].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[16].url | prepend: site.baseurl }}" id="article-4-a-link-1"><span>{{
                  site.posts[16].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[16].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
    </article>
    {% endif %}
    {% if site.posts[17] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[17].url | prepend: site.baseurl }}"
        aria-labelledby="article-4-a-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[17].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[17].url | prepend: site.baseurl }}" id="article-4-a-link-2"><span>{{
                  site.posts[17].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[17].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
    {% if site.posts[18] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[18].url | prepend: site.baseurl }}"
        aria-labelledby="article-4-a-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[18].image | prepend: site.baseurl }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[18].url | prepend: site.baseurl }}" id="article-4-a-link-3"><span>{{
                  site.posts[18].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[18].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
  </div>
  {% endif %}

  {% if false%}
  <div class="article_style-5">
    {% if site.posts[19] %}
    <article class="left-5 a-block"><a class="a-overlay" href="{{ site.posts[19].url | prepend: site.baseurl }}" aria-label="Article link"></a>
      <div class="image-wrapper-5 a-inner"><img src="{{ site.posts[19].image | prepend: site.baseurl }}" alt="Article Thumbnail" /></div>
      <div class="container-5">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[19].url | prepend: site.baseurl }}" id="article-5-link-undefined"><span>{{
                  site.posts[19].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[19].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
    <div class="right-5">
      {% if site.posts[20] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[20].url | prepend: site.baseurl }}" aria-labelledby="article-5-link-1"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[20].url | prepend: site.baseurl }}" id="article-5-link-1"><span>{{
                  site.posts[20].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[20].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[21] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[21].url | prepend: site.baseurl }}" aria-labelledby="article-5-link-2"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[21].url | prepend: site.baseurl }}" id="article-5-link-2"><span>{{
                  site.posts[21].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[21].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[22] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[22].url | prepend: site.baseurl }}" aria-labelledby="article-5-link-3"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[22].url | prepend: site.baseurl }}" id="article-5-link-3"><span>{{
                  site.posts[22].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[22].tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <!-- {% endif %} -->


  <!-- ALERT!!!!!! change this -->
  <!-- ALERT!!!!!! change this -->
  <!-- ALERT!!!!!! change this -->
  <!-- ALERT!!!!!! change this -->
  <div class="article_style-7"> 
    <!-- pagination -->
    {% if page.url != '/'%}
    {% for post in paginator.posts %}
    <article class="a-block"><a class="a-overlay" href="{{ post.url | prepend: site.baseurl }}" aria-labelledby="article-6-link-5"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ post.url | prepend: site.baseurl }}" id="article-6-link-5"><span>{{
                  post.title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in post.tags %}
            <a class="tags-1" href="{{ site.baseurl }}/tag/{{tag}}/">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ post.image | prepend: site.baseurl }}" alt="Article thumbnail" /></div>
    </article>
    {% endfor %}
    {% endif %}

    <style>
      .pagination a,
      .pagination span {
        padding: 7px 18px;
        border: 1px solid var(--article-border-color);
        margin-left: 2px;
        margin-right: 2px;
        display: inline-block;
        border-radius: 10px;
      }

      .pagination a:hover {
        color: var(--header-text-color);
        background-color: var(--header-hover-background-color);
        border-radius: var(--article-border-radius);

      }

      .pagination {
        text-align: center;
      }

      .pagination span {
        color: rgb(187, 187, 187);
      }
    </style>

    <!-- pagination -->

    {% if false%}
    {% if paginator.total_pages > 1 %}
    <div class="article_style-6">

      <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
          class="hoverEffect">&laquo; Prev</a>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
        {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
          }}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
        <span>Next &raquo;</span>
        {% endif %}
      </div>
      {% endif %}
      <!-- pagination -->
    </div>
    {% endif %}

  </div>
</div>
