<footer>
  <div class="footer_style-1">
    <div class="left-footer-1">
      <hr />
      <h3>fredy.dev — A site built from scratch by Fredy Sandoval.</h3>
      <a href="{{'/privacy_policy/' | relative_url }}" {% if page.url == '/privacy_policy/'%}class="current-page-1"{% endif %} >Privacy Policy</a>
      <a href="{{'/terms/' | relative_url }}" {% if page.url == '/terms/'%}class="current-page-1"{% endif %} >Terms</a>
      <a href="{{'/cookies/' | relative_url }}" {% if page.url == '/cookies/'%}class="current-page-1"{% endif %} >Cookies</a>
      <a href="{{'/contact/' | relative_url }}" {% if page.url == '/contact/'%}class="current-page-1"{% endif %} >Contact</a>
      <br /><span>Copyright © 2022 Fredy Sandoval. All rights reserved.</span><br />
      <hr />
    </div>
    <div class="right-footer-1">
      <div class="animation-wrapper">
        <div class="centerXY">
          <div class="container1" style="--box-color:160; --tX:170%; --tY: 0%;">
            <div class="block1"></div>
          </div>
          <div class="container1" style="--box-color:70; --tX:50%; --tY: 120%;">
            <div class="block1"></div>
          </div>
          <div class="container1" style="--box-color:220; --tX:-100%; --tY: -100%;">
            <div class="block1"></div>
          </div>
          <div class="container1" style="--box-color:10; --tX:50%; --tY: 0%;">
            <div class="block1 vibrate-2"></div>
          </div>
          <div class="container1" style="--box-color:50; --tX:50%; --tY: -120%;">
            <div class="block1"></div>
          </div>
          <div class="container1" style="--box-color:120; --tX:-70%; --tY: 0%;">
            <div class="block1"></div>
          </div>
          <div class="container1" style="--box-color:190; --tX:190%; --tY: 100%;">
            <div class="block1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>