<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
    <g id="emojione-v1:heavy-multiplication-x">
        <path id="Vector" d="M18.9664 0.87029C16.6454 3.19266 14.3203 5.51544 12.0018 7.83821C9.67917 5.51665 7.35656 3.19388 5.03313 0.87029C2.34563 -1.81571 -1.8185 2.35001 0.867782 5.03601C3.18958 7.35635 5.51342 9.68034 7.83238 11.9999C5.51179 14.3214 3.18837 16.645 0.867782 18.9678C-1.8185 21.653 2.34766 25.8175 5.03313 23.1331C7.35493 20.8103 9.67755 18.488 12.0018 16.1652C14.3244 18.488 16.6454 20.8095 18.9664 23.1331C21.6531 25.8179 25.8176 21.653 23.1334 18.9682C20.8103 16.6454 18.4877 14.3239 16.1647 12.0003C18.4881 9.6779 20.8107 7.35513 23.1334 5.03235C25.8176 2.34716 21.6531 -1.81855 18.9664 0.867446" fill="currentColor" />
    </g>
</svg>