<svg width="40" height="40" viewBox="0 0 133 133" fill="none">
    <g id="drawing1 1">
        <g id="layer3">
            <path id="rect8598" fill-rule="evenodd" clip-rule="evenodd" d="M14.0773 6.64805C10.4221 10.9474 9.40377 83.2961 14.4776 92.3566C21.7002 95.6305 40.5931 91.6716 42.1352 96.4457C45.2139 104.127 40.5027 123.418 47.3981 127.104C54.2935 130.791 89.5505 128.934 102.325 122.978C115.1 117.023 117.999 110.166 120.032 104.208C122.066 98.2487 122.546 86.8035 121.367 80.9643C120.187 75.1252 117.491 67.1753 106.147 59.9492C94.8023 52.7231 84.8659 54.2497 81.3686 52.1534C77.8714 50.057 78.1563 42.9601 79.443 39.0069C80.7297 35.0536 87.3873 37.5515 89.619 32.0591C92.7455 24.3647 92.4686 9.02198 88.4757 7.06168C81.9751 3.87018 17.7325 2.34872 14.0773 6.64805V6.64805Z" stroke="#7e7e7e85" stroke-width="8" />
        </g>
        <g id="layer1">
            <g id="text7065">
                <path fill="currentColor" id="path8590" fill-rule="evenodd" clip-rule="evenodd" d="M22.1808 13.6191C24.4376 11.7109 80.21 12.4458 81.5977 13.6191C82.9854 14.7925 82.4844 26.988 81.5977 27.7362C80.711 28.4845 41.4841 26.4978 40.0991 27.6664C38.7142 28.8351 38.8795 39.7908 40.0991 40.822C41.3187 41.8532 66.1906 39.5347 67.7131 40.822C69.2356 42.1093 69.1134 49.653 67.7131 50.837C66.3128 52.021 41.4977 49.6545 40.0991 50.837C38.7005 52.0196 41.2984 83.1016 40.0991 84.858C38.9507 86.5398 23.8492 86.2686 22.1808 84.8579C19.9939 83.0088 19.9002 15.5474 22.1808 13.6191V13.6191Z"  />
            </g>
            <g id="text7849">
                <path fill="currentColor" id="path8584" d="M71.8619 73.6802C70.6428 74.2753 70.5988 103.001 71.8619 104.069C73.1251 105.137 74.4209 105.118 79.6163 104.426C84.8117 103.734 90.3453 102.729 95.3284 99.3932C97.8533 97.7028 98.9007 93.196 99.4202 91.2427C99.8263 88.5512 99.4968 87.2637 99.4075 85.5563C99.1948 81.2764 97.1062 79.9665 95.5273 78.6316C91.3301 75.4489 82.587 74.2736 77.8419 73.8361C77.8419 73.8361 73.0811 73.085 71.8619 73.6802V73.6802ZM52.853 60.3067C54.5212 58.8961 70.9174 59.8706 72.8033 59.9668C88.9534 60.791 96.5248 62.7371 102.972 67.5979C109.42 72.4318 112.644 80.0049 112.644 90.3173C112.644 100.683 109.404 108.297 102.925 113.158C96.4454 118.018 85.2605 119.408 79.491 120.121C73.7216 120.835 53.7597 121.215 52.853 120.449C51.9463 119.682 51.1848 61.7172 52.853 60.3067V60.3067Z" />
            </g>
        </g>
    </g>
</svg>