<svg width="24" height="22" viewBox="0 0 24 22" fill="none">
    <g id="twitter 1" clip-path="url(#clip0_89_803)">
        <path id="Vector" d="M24 2.58824C23.0798 3.04118 22.088 3.33882 21.0602 3.48118C22.1119 2.79529 22.9245 1.70824 23.3069 0.401176C22.315 1.04824 21.2156 1.50118 20.0564 1.76C19.1123 0.647059 17.7859 0 16.2801 0C13.4718 0 11.1773 2.48471 11.1773 5.55176C11.1773 5.99176 11.2251 6.41882 11.3088 6.82C7.05449 6.58706 3.26625 4.37412 0.744742 1.02235C0.302581 1.83765 0.0516255 2.79529 0.0516255 3.80471C0.0516255 5.73294 0.947897 7.44118 2.33413 8.41176C1.48566 8.41176 0.696941 8.15294 0.00382436 7.76471C0.00382436 7.76471 0.00382436 7.76471 0.00382436 7.80353C0.00382436 10.4953 1.77247 12.7471 4.11472 13.2518C3.68451 13.3812 3.2304 13.4459 2.76434 13.4459C2.44168 13.4459 2.11903 13.4071 1.80832 13.3424C2.45363 15.5294 4.32983 17.16 6.58843 17.1988C4.84369 18.7 2.63289 19.58 0.218929 19.58C-0.18738 19.58 -0.59369 19.5541 -1 19.5024C1.27055 21.0812 3.97132 22 6.86329 22C16.2801 22 21.4546 13.5365 21.4546 6.19882C21.4546 5.95294 21.4546 5.72 21.4426 5.47412C22.4465 4.69765 23.3069 3.71412 24 2.58824Z" fill="currentColor" />
    </g>
    <defs>
        <clipPath id="clip0_89_803">
            <rect width="24" height="22" fill="white" />
        </clipPath>
    </defs>
</svg>